@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.outfit {
    font-family: "Outfit", sans-serif;
}

.container {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 5rem;
    padding-left: 50px;
  

}
.text {
    
    align-items: center;
    justify-items: center;
    display: flex;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 55px;
    width: 50rem;
    padding-bottom: 8rem;

}
.img {
}
